@font-face {
  font-family: "Sableklish";

  src: url("../assets/fonts/Sableklish-ywlLd.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&family=Roboto:wght@500;700;900&display=swap");

:root {
  --red: #d64933;
  --yellow: #f7b801;
  --gray: #191919;
  --light-gray: #93a8ac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  min-width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100%;
}

#content {
  position: relative;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20rem 1fr 30rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: var(--red);

  padding: 0 5rem 0 5rem;
  grid-template-columns: 1fr 1fr;
}

.logo {
  font-family: "Sableklish";
  font-size: 8rem;
  color: var(--yellow);
  margin: 0rem 1rem 0rem 1rem;
  white-space: nowrap;
}

nav {
  display: flex;
  font-size: 3rem;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  width: 50rem;
}

.nav-item {
  font-weight: 600;

  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

.nav-item.active {
  color: var(--yellow);
}
main {
  background-color: var(--gray);
}

footer {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  color: var(--yellow);
  font-size: 5rem;
  font-family: Sableklish;
  padding: 2rem 2rem 2rem 2rem;
}
.footer-info-container {
  display: grid;
  gap: 1rem;
  color: white;
  font-size: 2.5rem;
  grid-template-areas:
    "facebook phone"
    "instagram adress"
    ". email";
}

.footer-info-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-link {
  color: white;
  text-decoration: none;
}
.footer-icon {
  height: 4rem;
}

.footer-phone {
  grid-area: phone;
}

.footer-adress {
  grid-area: adress;
}

.footer-email {
  grid-area: email;
}

.footer-facebook {
  grid-area: facebook;
}

.footer-instagram {
  grid-area: instagram;
}
